@page "/"

@inject DbContext db
@inject ILogger<Index> log

<PageTitle>Cekikila</PageTitle>

<section class="px-2 py-5 text-center container-fluid">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">@Accroche</h1>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @{
                int i=0;
                @foreach(var obj in db.Objets) {
                    var tmp = i++;
                    <div class="col">
                    <Card ImageUrl='@($"img/obj-{obj.IdObjet}.jpg")' Title="@obj.Nom">
                        <ChildContent> <!-- Facultatif si pas d'autre RenderFragment -->
                            <p class="card-text">@obj.Description</p>
                            <p class="card-text">
                                @foreach (var tag in obj.Tags)
                                {
                                    <span class="badge text-bg-dark mx-1">@tag.Label</span>
                                }
                            </p>
                        </ChildContent>
                        <Footer>
                                <a class="btn btn-sm btn-primary" href="/emprunts/@obj.IdObjet">Réserver</a>
                        </Footer>
                    </Card>
                </div>
            }
            }
        </div>
    </div>
</div>

@code {
    private const string AccrocheDef = "Ne l'achète pas, je l'ai !";

    private string Accroche { get; set; } = AccrocheDef;

    private void MajAccroche(string? nom, int n=0)
    {
        Accroche = nom is null ? AccrocheDef : $"N'achète pas de {nom}({n}), j'en ai un";
        log.LogInformation(Accroche);
        // Accroche = nom is null ? AccrocheDef : String.Format("N'achète pas de {0}, j'en ai un", nom); 
    }
    // private string GetImageName(Objet o) => $"img/obj-{o.IdObjet}.jpg";
}