@page "/emprunts/{IdObjet:int?}"

@inject DbContext db
@inject NavigationManager nav

<div class="container">
    @if(objet is null)
    {
        <p>Chargement en cours...</p>
    }
    else
    {
        <h3>@objet.Nom</h3>

        <Periode @bind-Debut="@NouvDebut" @bind-Fin="@NouvFin" FinModifiable="false" @ref="filtre"/>
        @if(NouvDebut < TodayOnly)
        {
            <div class="alert alert-danger" role="alert">
                Date passée !
            </div>
        }
        <Tableau Items="objet.Tags.OrderBy(t => t.Ordre)" Context="tag">
            <Header>
                <th>Id</th>
                <th>Titre</th>
            </Header>
            <ItemTemplate>
                <td>@tag.IdTag</td>
                <td>@tag.Label</td>
            </ItemTemplate>
        </Tableau>
    }
</div>

@code {
    private Periode? filtre;
    private Cekikila.Objet? objet = null;

    private DateOnly TodayOnly => DateOnly.FromDateTime(DateTime.Today);

    private DateOnly NouvDebut = DateOnly.FromDateTime(DateTime.Today);

    private DateOnly NouvFin = DateOnly.FromDateTime(DateTime.Today).AddDays(5);

    [Parameter]
    public int? IdObjet 
    {
        get => objet?.IdObjet;
        set
        {
            objet = db.Objets.FirstOrDefault(o => o.IdObjet==value);
            if(objet is null)
            {
                // Redirection en Blazor
                nav.NavigateTo("/404", false);
            }            
        }
    }
}
